/* ESTILO GERAL */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(34, 34, 34);
    color: #FFF;
}

.container {
    max-width: 128vw;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 1.8vh 3vw;
    background-color: #f9f500;
    color: #FFF;
    border: none;
    border-radius: 20px;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-pediai button {
    padding: 1.8vh 3vw;
    background-color: #f9f500;
    color: #FFF;
    border: none;
    border-radius: 20px;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.M {
    color: #f9f500;
}

.C {
    color: #f92100;
}

/* HEADER */

.logo a img {
    height: 10vh;
}

header {
    padding: 4vh 4%;
    position: fixed;
    width: 100%;
    background-color: rgb(34, 34, 34);
    z-index: 77;
}

header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #818181;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

header nav.menu a:hover {
    color: #FFF;
    transform: scale(1.03);
}

header nav ul {
    list-style-type: none;
}

header nav.menu ul li {
    display: inline-block;
    padding: 0 3.5vw;
    font-size: 1.25rem;
}

.btn-contato button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 3px #f9f500;
}

.btn-contato button:active {
    transform: scale(1);
}

/* estilo menu mobile */
.btn-abrir-menu i{
    color: #f9f500;
    font-size: 2.5rem;
    display: none;
}

.menu-mobile {
    background-color: #1e1e1e;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 0%;
    overflow: hidden;
    transition: 0.3s;
}

.menu-mobile.abrir-menu {
    width: 60%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 2vh 5%;
}

.menu-mobile .btn-fechar i {
    color: #f9f500;
    font-size: 1.75rem;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul a{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 300;
    padding: 2vh 8%;
    display: block;
    transition: 0.3s;
}

.menu-mobile nav ul a:hover {
    background-color: #f9f500;
    color: #1e1e1e;
}

.overlay-menu {
    background-color: #1e1e1ea2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88;
    overflow: hidden;
    display: none;
}

/* main */

main {
    background-color: #1e1e1e;
}

.promomc {
    height: 55vh;
    border-radius: 20px;
    transition: 0.2s;
    border: none;
}

.promomc:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px #ffffff76;
}

section.topodosite {
    padding: 11vh 4%;
}

section.topodosite .flex{
    align-items: center;
    justify-content: center;
    gap: 9vw;
    margin-top: 12vh;
}

.topodosite h1 {
    font-size: 2.375rem;
    line-height: 35px;
}

.topodosite .txttoposite p {
    margin: 2vh 0;
}

.topodosite .imgtopodosite img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* escolha MC */

.pediai {
    text-align: center;
    font-size: 1.875rem;
    position: relative;
    top: 10vh;
}

.escolhamc .flex {
    margin-top: 10vh;
    padding: 4vh 4%;
    gap: 5vw;
}


.promosmc, .combosmc, .sobremesamc {
    height: 40vh;
    border-radius: 20px;
    width: 27vw;
    transition: 0.3s;
}

.promosmc:hover, .combosmc:hover, .sobremesamc:hover {
    transform: scale(1.03);
    box-shadow: 0 0 8px #ffffff8e;
}

.promosmc:active, .combosmc:active, .sobremesamc:active {
    transform: scale(1);
}

/* style lançamentos */

.mcmelt {
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 0 8px #ffffff82;
    margin-left: 5vw;
    transition: 0.3s;
}

.mcmelt:hover {
    transform: scale(1.03);
}

.mcmelt:active {
    transform: scale(1);
}

.melt{
    color: #d48a0b;
}

section.lancamentos {
    padding: 4vh 4%;
    box-shadow: 0 0 40px 10px #ffffff0b;
}

.lan {
    text-align: center;
    font-size: 2.5rem;
    position: relative;
}

section.lancamentos .flex {
    gap: 6vw;
    margin-top: 4vh;
}

section.lancamentos .txt-lan {
    margin-top: 4vh;
}

section.lancamentos .txt-lan h2 {
    margin: 2vh 2vw;
}


section.lancamentos .txt-lan p {
    margin: 1vh 0;
    text-align: justify;
}

.iconmc {
    height: 5.5vh;
    border-radius: 100px;
    top: -5px;
    position: relative;
    margin-left: 1vw;
    transition: 0.3s;
    border: 2px solid #FFF;
}

.icon-ifood {
    height: 7vh;
    transition: 0.3s;
}

.iconmc:hover, .icon-ifood:hover {
    transform: scale(1.05);
}

.iconmc:active, .icon-ifood:active {
    transform: scale(1);
}

/* Style Contato */

.lanCon {
    text-align: center;
    font-size: 2.5rem;
    padding: 2vh 2vw;
}

section.formulario {
    padding: 2vh 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

form input, form textarea {
    width: 100%;
    background-color: #585858;
    color: #FFF;
    border: none;
    outline: none;
    padding: 1.5vh 1.5vw;
    border-radius: 10px;
    font-size: 1.25rem;
}

form textarea {
    resize: none;
    padding-bottom: 8vh;
}

form .btn-enviar {
    margin-top: 1vh;
    text-align: center;
    margin-bottom: 6vh;
}

form .btn-enviar input {
    width: 8vw;
    background-color: #f9f500;
    cursor: pointer;
    transition: 0.3s;
}

form .btn-enviar input:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 3px #f9f500;
}

form .btn-enviar input:active {
    transform: scale(1);
}

/* style Footer */

footer {
    padding: 1vh 4%;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 40px 10px #ffffff0b;
}

footer .topo-footer {
    padding: 1vh 0;
}

.borda {
    border-top: 2px solid #cdca01;
    padding-top: 1.5vh;
}

footer .baixo-footer {
    margin: 2vh 0;
}

.logo-footer img{
    height: 10vh;
    transition: 0.3s;
}

.logo-footer img:hover {
    transform: scale(1.03);
}

.logo-footer img:active {
    transform: scale(1);
}

.topo-footer .btn-social button{
    width: 50px;
    height: 50px;
    border-radius: 2.5vw;
    border: none;
    background-color: #f9f500;
    font-size: 1.56rem;
    margin: 0 0.2vw;
    margin-top: 4vh;
    cursor: pointer;
    transition: 0.3s;
}

.topo-footer .btn-social button:hover {
    transform: scale(1.03);
}

.topo-footer .btn-social button:active {
    transform: scale(1);
}

footer .flex {
    justify-content: space-between;
}

.baixo-footer a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.37rem;
}

footer p a i {
    font-size: 1.56rem;
}


@media screen and (max-width: 500px) {
    /* classes gerais */
    .flex {
        flex-direction: column;
    }

    button, input, textarea, a {
        user-select: none; /* Para navegadores modernos */
        -webkit-user-select: none; /* Para Safari */
        -moz-user-select: none; /* Para Firefox */
        -ms-user-select: none; /* Para Internet Explorer/Edge */
        -webkit-tap-highlight-color: transparent;
        outline: none;
        box-shadow: none;
    }
    

    /* topo do site */

    .topodosite .flex {
        flex-direction: column-reverse;
    }

    header {
        padding: 1vh 4%;
    }

    .pediai {
        top: 5vh;
    }

    .escolhamc .flex {
        margin-top: 3vh;
    }

    section.topodosite {
        padding: 2vh 4%;
    }

    .promomc {
        height: 59vw;
    }

    .btn-pediai button {
        margin-left: 30vw;
    }

    /* menu mobile */
    .btn-abrir-menu i {
        display: block;
    }

    /* escolha mc */
    .promosmc, .combosmc, .sobremesamc {
        width: 92vw;
    }

    .menu, .btn-contato {
        display: none;
    }

    /* lançamento */
    section.lancamentos .flex {
        margin-top: 0;
        gap: 0;
    }

    section.lancamentos .txt-lan {
        margin-top: 0;
    }

    .mcmelt{
        height: 55vh;
        margin-left: 4vw;
        margin-top: 3vh;
    }

    .melt {
        text-align: center;
    }

    /* formulario */
    form .btn-enviar input {
        width: 30vw;
    }

    /* footer */
    .btn-social {
        margin-left: 50vw;
    }

    .logo-footer {
        position: relative;
        top: 10vh;
    }
}